<!DOCTYPE html>
<html>
<head>
	<script src="/public/libary/craftyjs/release/0.5.4/crafty.js"></script>
	<script src="/public/scripts/gamefiles/sap.js"></script>
</head>
<body>
	<%- include partials/header %>
	<section>

	</section>
	<%- include partials/footer %>
</body>
</html>