.sprite { background-image: url('cards.png'); background-color: transparent; background-repeat: no-repeat; }
.02_of_clubs { width: 500px; height: 726px; background-position: -10px -10px; }
.02_of_diamonds { width: 500px; height: 726px; background-position: -510px -10px; }
.02_of_hearts { width: 500px; height: 726px; background-position: -1010px -10px; }
.02_of_spades { width: 500px; height: 726px; background-position: -1510px -10px; }
.03_of_clubs { width: 500px; height: 726px; background-position: -10px -736px; }
.03_of_diamonds { width: 500px; height: 726px; background-position: -510px -736px; }
.03_of_hearts { width: 500px; height: 726px; background-position: -1010px -736px; }
.03_of_spades { width: 500px; height: 726px; background-position: -1510px -736px; }
.04_of_clubs { width: 500px; height: 726px; background-position: -10px -1462px; }
.04_of_diamonds { width: 500px; height: 726px; background-position: -510px -1462px; }
.04_of_hearts { width: 500px; height: 726px; background-position: -1010px -1462px; }
.04_of_spades { width: 500px; height: 726px; background-position: -1510px -1462px; }
.05_of_clubs { width: 500px; height: 726px; background-position: -10px -2188px; }
.05_of_diamonds { width: 500px; height: 726px; background-position: -510px -2188px; }
.05_of_hearts { width: 500px; height: 726px; background-position: -1010px -2188px; }
.05_of_spades { width: 500px; height: 726px; background-position: -1510px -2188px; }
.06_of_clubs { width: 500px; height: 726px; background-position: -10px -2914px; }
.06_of_diamonds { width: 500px; height: 726px; background-position: -510px -2914px; }
.06_of_hearts { width: 500px; height: 726px; background-position: -1010px -2914px; }
.06_of_spades { width: 500px; height: 726px; background-position: -1510px -2914px; }
.07_of_clubs { width: 500px; height: 726px; background-position: -10px -3640px; }
.07_of_diamonds { width: 500px; height: 726px; background-position: -510px -3640px; }
.07_of_hearts { width: 500px; height: 726px; background-position: -1010px -3640px; }
.07_of_spades { width: 500px; height: 726px; background-position: -1510px -3640px; }
.08_of_clubs { width: 500px; height: 726px; background-position: -10px -4366px; }
.08_of_diamonds { width: 500px; height: 726px; background-position: -510px -4366px; }
.08_of_hearts { width: 500px; height: 726px; background-position: -1010px -4366px; }
.08_of_spades { width: 500px; height: 726px; background-position: -1510px -4366px; }
.09_of_clubs { width: 500px; height: 726px; background-position: -10px -5092px; }
.09_of_diamonds { width: 500px; height: 726px; background-position: -510px -5092px; }
.09_of_hearts { width: 500px; height: 726px; background-position: -1010px -5092px; }
.09_of_spades { width: 500px; height: 726px; background-position: -1510px -5092px; }
.10_of_clubs { width: 500px; height: 726px; background-position: -10px -5818px; }
.10_of_diamonds { width: 500px; height: 726px; background-position: -510px -5818px; }
.10_of_hearts { width: 500px; height: 726px; background-position: -1010px -5818px; }
.10_of_spades { width: 500px; height: 726px; background-position: -1510px -5818px; }
.ace_of_clubs { width: 500px; height: 726px; background-position: -10px -6544px; }
.ace_of_diamonds { width: 500px; height: 726px; background-position: -510px -6544px; }
.ace_of_hearts { width: 500px; height: 726px; background-position: -1010px -6544px; }
.ace_of_spades2 { width: 500px; height: 726px; background-position: -1510px -6544px; }
.jack_of_clubs2 { width: 500px; height: 726px; background-position: -10px -7270px; }
.jack_of_diamonds2 { width: 500px; height: 726px; background-position: -510px -7270px; }
.jack_of_hearts2 { width: 500px; height: 726px; background-position: -1010px -7270px; }
.jack_of_spades2 { width: 500px; height: 726px; background-position: -1510px -7270px; }
.king_of_clubs2 { width: 500px; height: 726px; background-position: -10px -7996px; }
.king_of_diamonds2 { width: 500px; height: 726px; background-position: -510px -7996px; }
.king_of_hearts2 { width: 500px; height: 726px; background-position: -1010px -7996px; }
.king_of_spades2 { width: 500px; height: 726px; background-position: -1510px -7996px; }
.queen_of_clubs2 { width: 500px; height: 726px; background-position: -10px -8722px; }
.queen_of_diamonds2 { width: 500px; height: 726px; background-position: -510px -8722px; }
.queen_of_hearts2 { width: 500px; height: 726px; background-position: -1010px -8722px; }
.queen_of_spades2 { width: 500px; height: 726px; background-position: -1510px -8722px; }
.red_joker { width: 500px; height: 726px; background-position: -10px -9448px; }
