.sprite { background-image: url('cardssmallnew.png'); background-color: transparent; background-repeat: no-repeat; }
.02c { width: 60px; height: 72px; background-position: 0px 0px; }
.02d { width: 60px; height: 72px; background-position: -60px 0px; }
.02h { width: 60px; height: 72px; background-position: -120px 0px; }
.02s { width: 60px; height: 72px; background-position: -180px 0px; }
.03c { width: 60px; height: 72px; background-position: 0px -72px; }
.03d { width: 60px; height: 72px; background-position: -60px -72px; }
.03h { width: 60px; height: 72px; background-position: -120px -72px; }
.03s { width: 60px; height: 72px; background-position: -180px -72px; }
.04c { width: 60px; height: 72px; background-position: 0px -144px; }
.04d { width: 60px; height: 72px; background-position: -60px -144px; }
.04h { width: 60px; height: 72px; background-position: -120px -144px; }
.04s { width: 60px; height: 72px; background-position: -180px -144px; }
.05c { width: 60px; height: 72px; background-position: 0px -216px; }
.05d { width: 60px; height: 72px; background-position: -60px -216px; }
.05h { width: 60px; height: 72px; background-position: -120px -216px; }
.05s { width: 60px; height: 72px; background-position: -180px -216px; }
.06c { width: 60px; height: 72px; background-position: 0px -288px; }
.06d { width: 60px; height: 72px; background-position: -60px -288px; }
.06h { width: 60px; height: 72px; background-position: -120px -288px; }
.06s { width: 60px; height: 72px; background-position: -180px -288px; }
.07c { width: 60px; height: 72px; background-position: 0px -360px; }
.07d { width: 60px; height: 72px; background-position: -60px -360px; }
.07h { width: 60px; height: 72px; background-position: -120px -360px; }
.07s { width: 60px; height: 72px; background-position: -180px -360px; }
.08c { width: 60px; height: 72px; background-position: 0px -432px; }
.08d { width: 60px; height: 72px; background-position: -60px -432px; }
.08h { width: 60px; height: 72px; background-position: -120px -432px; }
.08s { width: 60px; height: 72px; background-position: -180px -432px; }
.09c { width: 60px; height: 72px; background-position: 0px -504px; }
.09d { width: 60px; height: 72px; background-position: -60px -504px; }
.09h { width: 60px; height: 72px; background-position: -120px -504px; }
.09s { width: 60px; height: 72px; background-position: -180px -504px; }
.10c { width: 60px; height: 72px; background-position: 0px -576px; }
.10d { width: 60px; height: 72px; background-position: -60px -576px; }
.10h { width: 60px; height: 72px; background-position: -120px -576px; }
.10s { width: 60px; height: 72px; background-position: -180px -576px; }
.ac { width: 60px; height: 72px; background-position: 0px -648px; }
.ad { width: 60px; height: 72px; background-position: -60px -648px; }
.ah { width: 60px; height: 72px; background-position: -120px -648px; }
.as { width: 60px; height: 72px; background-position: -180px -648px; }
.jc { width: 60px; height: 72px; background-position: 0px -720px; }
.jd { width: 60px; height: 72px; background-position: -60px -720px; }
.jh { width: 60px; height: 72px; background-position: -120px -720px; }
.js { width: 60px; height: 72px; background-position: -180px -720px; }
.kc { width: 60px; height: 72px; background-position: 0px -792px; }
.kd { width: 60px; height: 72px; background-position: -60px -792px; }
.kh { width: 60px; height: 72px; background-position: -120px -792px; }
.ks { width: 60px; height: 72px; background-position: -180px -792px; }
.qc { width: 60px; height: 72px; background-position: 0px -864px; }
.qd { width: 60px; height: 72px; background-position: -60px -864px; }
.qh { width: 60px; height: 72px; background-position: -120px -864px; }
.qs { width: 60px; height: 72px; background-position: -180px -864px; }
.zjocker { width: 60px; height: 72px; background-position: 0px -936px; }
