@font-face {
    font-family: "PipeDream";
    src: url(/public/fonts/PipeDream.ttf) format("truetype");
}

html,body,#wrapper {
	margin: 0px;
	padding: 0px;
	width: 100%;
	height: 100%;
	overflow: hidden;
	background-color: rgba(47,60,92,0.7);
}

#wrapper{

}

#logon{
	height: 100%;
}

	#logon_content{
		position: relative;
		float: left;
		height: 100%;
		width: 50%;
	}
		#logon_content_wrapper{
			position: absolute;
			height: 250px;
			width: 100%;
			top: 50%;
			text-align: center;
			margin-top: -125px;
			background-color: #FDFCFC;
		}

			.logon_input{
				margin-bottom: 15px;
			}

			.logon_label{

			}

	#logon_image{
		float: left;
		height: 100%;
		width: 50%;
		background: url(/public/images/sapBackground.png) no-repeat center;
		background-size: cover;
		opacity: .8;
	}

.waitingDisplay{
	display: none;
}

.waitingDisplay{
	display: none;
	position: absolute;
	left: 50%;
	top: 180px;
	width: 170px;
	margin-left: -85px;
	z-index: 999;
	text-align: center;
}

.waitingText{
	clear: left;
	text-align: center;
}

.circleG{
	background-color:#FFFFFF;
	float:left;
	height:32px;
	width:32px;
	margin-bottom: 5px;
	margin-left: 17px;
	-moz-animation-name:bounce_circleG;
	-moz-animation-duration:1.9500000000000002s;
	-moz-animation-iteration-count:infinite;
	-moz-animation-direction:linear;
	-moz-border-radius:21px;
	-webkit-animation-name:bounce_circleG;
	-webkit-animation-duration:1.9500000000000002s;
	-webkit-animation-iteration-count:infinite;
	/*-webkit-animation-direction:linear;*/
	-webkit-border-radius:21px;
	-ms-animation-name:bounce_circleG;
	-ms-animation-duration:1.9500000000000002s;
	-ms-animation-iteration-count:infinite;
	-ms-animation-direction:linear;
	-ms-border-radius:21px;
	-o-animation-name:bounce_circleG;
	-o-animation-duration:1.9500000000000002s;
	-o-animation-iteration-count:infinite;
	-o-animation-direction:linear;
	-o-border-radius:21px;
	/*animation-name:bounce_circleG;
	animation-duration:1.9500000000000002s;
	animation-iteration-count:infinite;
	animation-direction:linear;*/
	border-radius:21px;
}

#circleG_1{
	-moz-animation-delay:0.39s;
	-webkit-animation-delay:0.39s;
	-ms-animation-delay:0.39s;
	-o-animation-delay:0.39s;
	/*animation-delay:0.39s;*/
}

#circleG_2{
	-moz-animation-delay:0.9099999999999999s;
	-webkit-animation-delay:0.9099999999999999s;
	-ms-animation-delay:0.9099999999999999s;
	-o-animation-delay:0.9099999999999999s;
	/*animation-delay:0.9099999999999999s;*/
}

#circleG_3{
	-moz-animation-delay:1.1700000000000002s;
	-webkit-animation-delay:1.1700000000000002s;
	-ms-animation-delay:1.1700000000000002s;
	-o-animation-delay:1.1700000000000002s;
	/*animation-delay:1.1700000000000002s;*/
}

@-moz-keyframes bounce_circleG{
	50%{
	background-color:#000000}
}

@-webkit-keyframes bounce_circleG{
	50%{
	background-color:#000000}
}

@-ms-keyframes bounce_circleG{
	50%{
	background-color:#000000}
}

@-o-keyframes bounce_circleG{
	50%{
	background-color:#000000}
}

@keyframes bounce_circleG{
	50%{
	background-color:#000000}
}